@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo__destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.apresentacao__conteudo__titulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: gray;
}

.apresentacao__conteudo__botoes{
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__botoes__link{
    text-align: center;
    background-color: #22D4FD;
    color: black;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 280px;
    border-radius: 8px;
    padding: 1em 0;
    text-decoration: none;
}


.imagem{
    height: 500px;
    width: auto;
    text-align: center;
  
}
